#maincontainer{
	background-color: rgb(216, 213, 213);
	padding: 20px;
}
.Testimonial{
	background-color: white;
	padding: 20px;
	border: 0.5px snow gray;
}
.author{
	text-align: right;
	font-style: italic;
}
.Testimonial2{
	margin-top: 25px;
	background-color: white;
	padding: 20px;
	border: 0.5px snow gray;
}
